@import "~bootstrap/scss/bootstrap.scss";
 
body{
    background-color: #555555;
}
.cuadro{
    margin-top: 50px;
    height: 200px;
    color: #000000;
    font-size: 150px;
    background: #b60f0f;
    box-shadow: 22px 31px 35px 5px rgba(0,0,0,0.89);
    -webkit-box-shadow: 22px 31px 35px 5px rgba(0,0,0,0.89);
    -moz-box-shadow: 22px 31px 35px 5px rgba(0,0,0,0.89);
}